#header{
    background-color: #303b4d;
    padding: 20px;
}
#header h1{
    color: white;
    font-size: 40px;
    font-weight: 300;
    font-style: italic;
}
#header h4{  
    color: #3c8998;
    padding-top: 10px;
    font-size: 22px;
}
#header p{
    color: white;
    padding-top: 10px;
}
#contacts{
    background-color: #222a33;
    padding: 10px;
    padding-left: 130px;
}
#contacts a{
    color: white;
    padding-left: 20px;
}
#contacts span{
    color: white;
    padding-left: 20px;
}
#main-section p{
    font-style: oblique;
    font-size: 17px;
}
#main-section{
    padding: 20px;
}
.content-section h2{
    color: #449399;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 20px;
}
ul {
    list-style: disc;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
ul li{
    font-size: 16px;
    list-style-position: inside;
}
.left-col h3{
    font-weight: bold;
    font-size: 18px;
}

.left-col .sub-highlight-1{
    font-style: italic;
    color: skyblue;
    font-size: 12px;
    padding-right: 50px;
}
.left-col .content-type-1-section-1{
    padding-top: 10px;
    padding-bottom: 5px;
}
.right-col .sub-highlight-1{
    color: #565968;
    font-style: italic;
    font-size: 13px;
}
.right-col p{
    padding-top: 10px;
}
.left-col .box-with-color li{
    border: 1px solid;
    display: inline-block;
    border-radius: 5px;
    background-color: #989da6;
    padding: 5px;
    color: #f1f2f3;
}
.right-col .empty-box li{
    border: 2px solid #989da6;
    border-radius: 5px;
    display: inline-block;
    padding: 3px;
}